
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>SupportTicketApplication</h1>
    <p class="lead">Welcome to SupportTicketApplication.</p>
    @*<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

    Submit Ticket

    View Ticket
</div>