
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>SupportTicketApplication</h1>
    @if (Context.User.Identity.IsAuthenticated)
    {
        <p class="lead">Welcome to SupportTicketApplication!</p>
    }
    else
    {
        <p class="lead">In order to view tickets you must be logged in. Please log in using the @Html.ActionLink("log in", "Login", "Account") form.</p>
    }    
</div>