
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>SupportTicketApplication</h1>
    <p class="lead">Welcome to SupportTicketApplication.</p>    
</div>